#task_box{
  display: inline-block;
}
button{
  display: inline-block;
}
button:focus{
  border: none;
}
.app_box{
  max-width: 900px;
  margin: 0 auto;
}
label,input{
  display: inline-block;
}
.dltBtn{
  background: rgba(218, 69, 69, 0.627);
  border-radius: 50%;
  padding:3px 9px;
  border: none;
}
span{
  display: inline-block;
}
.item_Box{
  align-self: flex-start;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 20px;
  padding:15px 5px
}
.complete{
  text-decoration: line-through;
  color: rgb(85, 85, 85);
}
